h1 {
    background-color: green;
    color: #fff;
    padding: 2%;
    text-align: center;
}

.container {
    margin-top: 30px;
    text-align: center;
}

.form-control {
    border-color: green;
}

.lista{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#listaSuspensa {
    height: 35px;
    border-radius: 5%;
    border-color: green;
    
}

.buscar {
    display: flex;
}

.btn-buscar {
    margin-left: 5px;
}

.spinner {
    margin-top: 8%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.cursos {
    padding: 3%;
}

